.DS_Store
lab2/*.npz
lab3/new_dataset
lab3/*.zip
lab3/*.csv
lab3/weights
lab4/*.zip
lab4/LAB4_Dataset
lab4/Demo_Test
lab4/checkpoints
lab4/__pycache
lab4/*.gif
lab4/outputs
lab4/*.log
lab5/ROMS
lab5/HC\ ROMS/
lab5/*.pt
lab5/log
lab5/ckpt
lab6/*.pth
lab6/*.zip
lab6/iclevr

